<h2><%= menu_header @content.name, Gis::Map.model_name.human %></h2>
<div class="actionMenu">
<%- case action_name -%>
<%- when 'index' -%>
  <%= link_to '一覧表示', { action: :index }, (params[:maps].blank? ? {class: 'current'} : {}) %>
  <span class="separator"></span>
  <%= link_to :new, { action: :new } if Core.user.has_priv?(:create, item: Core.concept) %>
<%- when 'show' -%>
  <%= link_to :index, { action: :index } %>
  <span class="separator"></span>
  <%= link_to :edit, { action: :edit } if @item.editable?%>
  <%= link_to :destroy, { action: :destroy }, method: :delete, confirm: '削除してよろしいですか？' if @item.deletable? %>
  <%= link_to '承認', { action: :approve }, method: :post, confirm: '承認してよろしいですか？' if @item.approvable?(Core.user) %>
  <%= link_to :publish, { action: :publish }, method: :post, confirm: '公開してよろしいですか？' if @item.publishable? %>
  <%= link_to '公開終了', { do: :close }, confirm: '公開を終了してよろしいですか？' if @item.closable? %>
<%- when 'new', 'create', 'import' -%>
  <%= link_to :index, { action: :index } %>
<%- when 'edit', 'update' -%>
  <%= link_to :index, { action: :index } %>
  <span class="separator"></span>
  <%= link_to :show, { action: :show } %>
<%- end -%>
</div>
