<%= init_ckeditor readOnly: true %>
<%- if @item.entry && @item.state = 'public' -%>
<p class="form">公開情報</p>
<%= link_to "[閲覧]", gis_entry_path(content: @content, id: @item.entry_id) %>
<%- end -%>
<p class="form">詳細情報</p>

<table class="show">
  <tr>
    <th><%= @item.class.human_attribute_name :remote_addr %></th>
    <td><%= @item.remote_addr %></td>
  </tr>
  <tr>
    <th><%= @item.class.human_attribute_name :user_agent %></th>
    <td><%= @item.user_agent %></td>
  </tr>
</table>

<%= render 'gis/admin/_partial/categories/view', item: @item%>

<%- if @item.db -%>
<%= render 'webdb/admin/shared/show', db: @item.db, item_values: @item.item_values,
  files: @item.files, file_uri: @item.file_content_uri, use_admin: true %>
<%- else -%>
<table class="show">
  <tr>
    <th><%= @item.class.human_attribute_name :title %></th>
    <td><%= @item.title %></td>
  </tr>
</table>
<%- end -%>



<%= render 'sys/admin/_partial/files/view', item: @item, content: @content %>

<p class="form">位置情報</p>
<%= gis_map_view @item %>


<%= creator_view @item %>